import(methods)
import(splines)
import(tcltk)
import(graphics)
import(vcd)
importFrom(gplots, textplot)

exportClasses(dat, kin, spec, mass, amp,
              theta, multimodel, res, multitheta, kinopt,
              specopt, massopt, opt, fit)

exportMethods(getClpindepX, residPart, plotter)

export(readData, preProcess, baseIRF, initModel, 
       fitModel, examineFit, sumKinSpecEst)

export(dat, kin, spec, mass, amp, theta, multimodel, res, multitheta,
       kinopt, specopt, massopt, opt, fit, addDscal, getDiffThetaChange,
       plotFLIM, addPrelCl, getDiffThetaClChange, plotKinBreakDown, addPrel,
       getDiffThetaCl, plotClp, getDiffTheta, baseCorlambda, getFixed,
       baseCortime, applyWeightingModel, scaleConList, getGroups,
       getModel, plotter, calcB, getPar, calcCirf,
       getPrel, plotTracesSuper, calcC, getPrelTheta, calcEbspline,
       calcEhiergaus, getSpecList, rescomp, compCoh, residPart, compModel,
       getSpecToPlot, getThetaCl, sample_sel, getTheta, diffAdd, diffChange,
       diffFree, diffRel, diffRemove, displayEst, initModellist, doClpConstr,
       simndecay_gen, doSVD, simpExp, simpPol, skew, specModel, irfparF,
       specparF, fillK, l2nu, linloglines, fullKF, linlogplot, gaus,
       getClpConstr, weightNL, matlinlogplot, weightPsi, getCoh,
       writeEst, getCohToPlot, normdat, writeFit, getConToPlot,
       displayEst, plotKinSpecEst, fillResult, getResid, getResidRet,
       processOrder, multiLin, readclp0, compModelMass, barplot3,
       getXsuper, doConstrSuper, getKinConcen, getAutoClp0,
       outlierCorr, linlogtics, unitstep, modifyModel, parEst, onls,
       sumnls, getCLPList, getData, getSVDResiduals, getSVDData,
       getTraces, getdim1, getdim2, getX, getC, getCLP, getDAS, getResiduals, getXList,
       getSelectedTracesMax, writeAverage, efit2file, divergeZimage,
       plotHistAmp, plotHistNormComp, plotIntenImage, plotTau,
       plotNormComp, plotSelIntenImage, calcD)

S3method("summary", "timp.nls.lm")
S3method("summary", "timp.nls")
S3method("summary", "timp.optim")
S3method("print", "summary.timp.nls.lm")
S3method("print", "summary.timp.nls")
S3method("print", "summary.timp.optim")
S3method("print", "timp.nls.lm")
S3method("print", "timp.nls")
S3method("print", "timp.optim")
